<%- contentFor('content') %>

    <div id="admin-panel" ng-controller="mainCtrl">
        <h1 class="library">Library</h1>
        <button type="button" class="btn btn-primary" ng-click="addBookModal()">Add Book</button>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books">
                    <td>
                        <span>{{ book.name }}</span>
                    </td>
                    <td>
                        <span>{{ book.author }}</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="editBookModal( book.id )">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteBookModal( book.id )">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<%- %>
