body {
}

h1.title {
  color: green;
}

.logo-image {
}

.menu-color {
  background-color: #89c9cb;
}

.img-slider {
  max-height: 400px;
  width: 100%
}

.support-image {
  max-width: 750px;
}

.space-bottom {
  margin-bottom: 40px;
}

.social-icons {
  .social-icon:hover {
    text-decoration: none;
  }
}
