// Colors
@import 'colors';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  color: $off-black;
  background-color: $off-white;
  font-family: 'Oxygen', sans-serif;
}

a:hover {
  text-decoration: none;
}

h1.name-brand {
  color: $strong-blue;
}

.name-brand {
  font-weight: bolder;
}

.space-bottom {
  margin-bottom: 40px;
}

.menu-container {
  li a { color: $strong-blue }

  .menu-color {
    background-color: $lighter-blue;
  }
}

.slider-container {
  .img-slider {
    max-height: 400px;
    width: 100%
  }
}

.main-container {
  font-family: 'Roboto', sans-serif;

  .support-image {
    max-width: 750px;
  }
}

.footer-container {
  font-weight: bolder;
  line-height: 3em;
}
